@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

::selection {
  color: blackgray;
  background: rgb(212, 244, 255);
}

* {
  font-family: Inter, Helvetica, sans-serif;
}

.subheading {
  @apply font-bold text-lg text-gray-600;
}

.btn {
  @apply text-white py-2 px-4 rounded-lg;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px auto;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}

/* Hide arrows for number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
